<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/tb_style.css') }}"/>
        <title>Safetydome Fight {{ battle.id }}</title>
	</head>
	<body>
		<table border=1px class="centerTable">
			<thead>
				<tr>
                    <th colspan=2>Battle {{ battle.id }}</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td colspan = 2, align='center'>
                        <a href="../combatant/{{ battle.one_id }}">{{
                            battle.one_name }}</a> vs. <a href="../combatant/{{
                            battle.two_id }}">{{ battle.two_name }}</a>
					</td>
                </tr>
                <tr>
					<td>
                        Start Time:
					</td>
                    <td>
                        {{ battle.start }}
                    </td>
                </tr>
                <tr>
					<td>
                        Finish Time:
					</td>
                    <td>
                        {{ battle.stop }}
                    </td>
                </tr>
                <tr>
					<td>
                        Winner:
					</td>
                    <td>
                        {{ battle.winner }}
                    </td>
				</tr>
			<tbody>
		</table>

	</body>
</html>
