<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/tb_style.css') }}"/>
	<title>Safetydome Fights</title>
</head>
<body>
	<table class="centerTable">
		<thead>
            <tr>
            <th colspan=3>
                <h2>Fight Statistics</h2>
            </th>
            </tr>
			<tr>
                <th></th>
				<th>Fighters</th>
				<th>Winner</th>
			</tr>
		</thead>

		<tbody>
			{% for fight in fights %}
			<tr>
				<td>
                    <a href="/battle/{{ fight.id }}">{{ fight.id }}:</a>
                </td>
                <td>
                    <a href="/combatant/{{ fight.one_id }}">{{ fight.one_name
                        }}</a> vs. <a href="/combatant/{{ fight.two_id }}">{{ fight.two_name }}</a></td>
				<td>{{ fight.winner }}</td>
			</tr>
			{% endfor %}
			<tbody>
	</table>

</body>
</html>
