<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/tb_style.css') }}"/>
	<title>Safetydome Fighter</title>
</head>
<body>
	<table border=1px class="centerTable">
		<thead>
			<tr>
				<th colspan='2'>Combatants</th>
			</tr>
		</thead>

		<tbody>
			{% for combatant in combatants %}
			<tr>
				<td><a href="/combatant/{{ combatant.id }}">{{ combatant.name }}
                        ({{ combatant.id }})</a></td>
				<td>{{ combatant.species }}</td>
			</tr>
			{% endfor %}
			<tbody>
	</table>

</body>
</html>
