<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/tb_style.css') }}"/>
		<title>Safetydome Fighters</title>
	</head>
	<body>
		
		<table class="centerTable">
			<thead>
				<tr>
                    <th colspan=2>{{ fighter.name }}</th>
                    <th colspan=2>Species: {{ fighter.species }}</th>
                </tr>
                <tr>
					<th>Attack:</th>
					<th>Type:</th>
					<th>Min Damage:</th>
					<th>Max Damage:</th>
					<th>Attack Speed:</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>{% for attack in  fighter.attack %}
					{% if attack != None %}
					{{ attack }}<br>
					{% endif %}
					{% endfor %}

					</td>
					<td>{% for atk_type in  fighter.attack_type %}
					{% if atk_type != None %}
					{{ atk_type }}<br>
					{% endif %}
					{% endfor %}
					</td>
					<td>{% for dmg in  fighter.min_dmg %}
					{% if dmg != None %}
					{{ dmg }}<br>
					{% endif %}
					{% endfor %}
					</td>
					<td>{% for dmg in  fighter.max_dmg %}
					{% if dmg != None %}
					{{ dmg }}<br>
					{% endif %}
					{% endfor %}
					</td>
					<td>{% for atk_speed in  fighter.speed %}
					{% if atk_speed != None %}
					{{ atk_speed }}<br>
					{% endif %}
					{% endfor %}
					</td>

				</tr>
			<tbody>
		</table>

	</body>
</html>
