<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/tb_style.css') }}"/>
        <title>SafetyDome</title>
    </head>
    <body>
		<table class="centerTable">
			<thead>
				<tr colspan=2>
					<th>
					<h2>Welcome to the SafetyDome!</h2>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="/results">Rankings</a></td>
				</tr>
				<tr>
					<td><a href="/combatant">List of Combatants</a></td>
				</tr>
				<tr>
					<td><a href="/battle">Combat Results</a></td>
				</tr>
			</tbody>
		</table>
    </body>
</html>
