<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/tb_style.css') }}"/>
	<title>Safetydome Rankings</title>
</head>
<body>
	<table class="centerTable">
		<thead>
            <tr>
            <th colspan=3>
                <h2>Combat rankings</h2>
            </th>
            </tr>
			<tr>
				<th>Rank</th>
				<th>Combatant</th>
				<th># of Wins</th>
			</tr>
		</thead>

		<tbody>
			{% for combatant in combatants %}
			<tr>
				<td>{{ combatant.rank }}</td>
				<td><a href="/combatant/{{ combatant.id }}">{{ combatant.name }}</a></td>
				<td>{{ combatant.wins }}</td>
			</tr>
			{% endfor %}
			<tbody>
	</table>

</body>
</html>
